@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    font-family: "Open Sans", sans-serif;
    font-size: 62.5%;
    font-weight: 400;
    scroll-behavior: smooth;
    line-height: 1.4;
}
body{
    font-size: 1.4rem;
}
header{
    position: sticky;
    top: 0;
    background-color: #fff;
}
nav{
    padding: 1rem;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}
nav h1{
    font-size: 2.5rem;
}
ul{
    list-style: none;
}
nav ul{
    display: flex;
    gap: 3rem;
    cursor: pointer;
}
nav ul li{
    font-size: 2rem;
    transition: 0.2s ease-in;

}
nav ul li:hover{
    border-bottom: 2px solid  #ccc ;
    transition: 0.2s ease-out;
}
nav i{
    font-size: 2.5rem;
    margin-right: 5px;
}
.hero{
    display: flex;
    justify-content: space-evenly;
    margin-top: 80px;
}
.hero-content{
    padding-top: 80px;
    font-size: 3rem;
    font-weight: 800;
}
.hero-content h4{
    font-weight: 500;
    color: #000000b7;
}
.hero-image{
    border-radius: 60px;
}